* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    position: relative;
    display: block;
}

#header{
    position: fixed;
    z-index: 4;
    width: 100%;
}

#nav {
    display: flex;
    background-color: #2c2c2c;
    justify-content: space-between;
}

.nav_left,
.nav_right {
    display: flex;
}

.logo_btn {
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
}

.logo_btn:hover{
    background-color: black;
}

.logo_btn:active {
    background-color: rgb(0, 166, 255);
}

.logo_btn:hover>.ti-angle-down{
    transform: translateY(4px);
}

.figma_icon {
   height: 32px;
   width: 32px;
   margin-left: 3px;
}

path {
    fill: white;
}

.ti-angle-down {
    color: white;
    font-size: 6px;
}

.icon_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 40px;
}

.icon_btn:hover{
    background-color: black;
}

.icon_btn:active {
    background-color: rgb(0, 166, 255);
}

.icon {
    color: white;
    font-size: 20px;
}

.community{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}

.community p:first-child{
    padding-right: 8px;
    color: white;
    font-size: 14px;
}

.community p:last-child{
    color: grey;
    font-size: 11px;
    margin-left: 36px;

}

.community i:hover{
    transform: translateY(4px);
}

.user_icon {
    height: 26px;
    width: 26px;
}

.user_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 40px;
}

.share_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
}

.share_btn {
    height: 34px;
    width: 54px;
    background-color: rgb(0, 166, 255);
    border-radius: 6px;
    color: white;
    outline: none;
    border: none;
}

.share_btn:active {
    background-color: rgb(0, 136, 255);
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.zoom_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 64px;
    
}

.zoom_btn p {
    font-size: 12px;
    padding-right: 5px;
    color: white;
}

.zoom_btn:hover{
    background-color: black;
}

.zoom_btn:active{
    background-color: rgb(0, 166, 255);
}

.zoom_btn:hover>
.ti-angle-down{
    transform: translateY(4px);
    
}

#content {
    display: flex;
    position: relative;
    padding-top: 48px;
}

#tool_bar {
    position: fixed;
    display: block;
    height: 100%;
    width: 240px;
    z-index: 3;
}

.option{
   
   display: flex;
   align-items: center;
   height: 40px;
   border-bottom: 1px solid #B8C5D0;
}

.option p{
    
    font-size: 11px;
    margin-right: 4px;
    margin-left: 10px;
    color: grey;
    
}


.user_profile{
    display: flex;
    align-items: center;
    height: 32px;
    
}

.user_profile i{
    margin: 0 5px 0 2px;
    font-size: 10px;
    color: white;
}

.user_profile p{
    font-size: 11px;
}

.option:hover>i{
    color: grey;
}

.user_profile:hover >i{
    color: grey;
}

#comment_bar {
    position: fixed;
    display: block;
    height:1000px ;
    width: 240px;
    background-color: white;
    z-index: 2;
    right: 0;
}

.comment_header{
    display: flex;
    height: 40px;
    width: 240px;
    border-bottom: 1px solid #B8C5D0;
}

.comment_box{
    width: 64px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment_box:hover>p{
    color: black;
}

.comment_box p{
    font-size: 12px;
    color: #B8C5D0;
    cursor:  context-menu;
}

.inspect_box{
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspect_box:hover>p{
    color: black;
}

.inspect_box p{
    font-size: 12px;
    color: #B8C5D0;
    cursor: context-menu;
}

.Export_box{
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Export_box p{
    font-size: 12px;
    color: #B8C5D0;
    cursor: context-menu;
}

.Export_box:hover>p{
    color: black;
}

#display {
    display: flex;
    padding-top: 400px;
    height: 5000px;
    min-width: 1423px;
    background-color: #E5E5E5;
    justify-content: center;
    margin-left: 240px;
}

.user_tab{
    display: flex;
    width: 380px;
    height: 814px;
    border-radius: 18px;
    background-color: #E2F4FF;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-start ;
}

.p_picture {
    display: flex;
    height: 250px;
    width: 335px;
    background-color: white;
    border-radius: 18px;
    align-items: center;
    margin-top: 50px;
}

.picture{
    background: url('https://s3-alpha-sig.figma.com/img/065f/ee21/8d5786e14f74e16abda0abd505a80fec?Expires=1652659200&Signature=N~c3ZcdtWGVDajyt~iR2AH5Dk6smLzRB1q6sr7O66vxffeEC8s-KZ6cQ5dLJuL77Aeknkxgus0-Wl8fHNNQvYohkwAchNM8mJVL2I~oUYCQG37TVH5YWQhpzqauoz9Vdd1kwGSA32cZm83RR~AY~Zd4XFJqL9z8zhdCtD8ViCw8V4IMvCX7lzHba5sWtiJcj0~AuFF134mM-cm2abPlEvJubU3k1yeg9sCoesS7EJ7Dh5DyFL~1yM1u9YCFXhIzmDhNE8b07qI0TCyJ49ZtTz9yLwQUrBWRMODzkuxBvr87Bvh6UIcQMqMtKDWNSrgv471n2ZXziuE~FRPa96j7TAA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    width: 254px;
    height: 229px;
    background-size: cover;
    border-radius: 18px;
    margin: 0 10px;
}

.name{
    font-size: 41px;
    color: #79838B;
    margin-top: 21px 33px auto 5px;
}

.p_info ul li {
    list-style-type: none;
    font-size: 9px;
    margin-top: 13px;
    color: #B8C5D0;
}

.p_info ul p {
    font-size: 14px;
    color: #79838B;
}

.status_cont{
    height: 32px;
    width: 194px;
    display: flex;
    background-color: white;
    border-radius: 18px;
    margin: 20px;
    align-items: center;
    
}

.section_status{
    display: flex;
    border-radius: 18px;
    height: 22px;
    width: 62px;
    align-items: center;
    justify-content: center;
    
}

.section_status:first-child{
    margin-left: 10px;
    background-color: #4BC9FE;
    border-radius: 18px;
}

.section_status:last-child{
    margin-right: 10px;
}


.section_status p{
    text-transform: uppercase;
    font-size: 12px;
    
}

.status_cont .section_status p{
    color: #4BC9FE;
}

.status_cont .section_status:first-child p{
    color: white;
}

.bio_cont{
    display: block;
    height: 119px;
    width: 335px;
    background-color: white;
    border-radius: 18px;
    
}

.bio_cont h3{
    margin:15px 0 5px 18px;
    font-size: 14px;
    color: #79838B;
}

.bio_cont p{
    font-size: 13px;
    margin: 0 15px 15px 18px;
    color: #79838B;
}

.link_cont{
    display: block;
    background-color: white;
    border-radius: 18px;
    margin: 20px;
    height: 91px;
    width: 335px;
}

.link_cont h3{
    margin:15px 0 5px 18px ;
    font-size: 14px;
    color: #79838B;
}

.brand{
    display: flex;

    margin: 10px 15px 15px 18px;

}

.icon_brand{
    font-size: 30px;
    margin-right: 18px;
    color: #79838B;
    
}

.portfolio {
    display: flex;
    height: 82px;
    width: 335px;
    background-color: white;
    border-radius: 18px;
    align-items: center;
    justify-content: space-around;
}

.portfolio div:first-child{
    line-height: 35px;
    font-size: 11px;
    margin: -12px;
    color: #79838B;
}

.portfolio div:last-child{
    line-height: 35px;
    font-size: 17px;
    color: #79838B;
}

.user_tab_2 {
    display: flex;
    width: 380px;
    height: 814px;
    border-radius: 18px;
    background-color: #E2F4FF;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-start ;
}

.job {
    font-size: 32px;
    color: #79838B;
}

.p_picture_2 {
    display: flex;
    height: 250px;
    width: 335px;
    background-color: white;
    border-radius: 18px;
    align-items: center;
    margin-top: 50px;
}

.picture_2{
    background: url('https://s3-alpha-sig.figma.com/img/065f/ee21/8d5786e14f74e16abda0abd505a80fec?Expires=1652659200&Signature=N~c3ZcdtWGVDajyt~iR2AH5Dk6smLzRB1q6sr7O66vxffeEC8s-KZ6cQ5dLJuL77Aeknkxgus0-Wl8fHNNQvYohkwAchNM8mJVL2I~oUYCQG37TVH5YWQhpzqauoz9Vdd1kwGSA32cZm83RR~AY~Zd4XFJqL9z8zhdCtD8ViCw8V4IMvCX7lzHba5sWtiJcj0~AuFF134mM-cm2abPlEvJubU3k1yeg9sCoesS7EJ7Dh5DyFL~1yM1u9YCFXhIzmDhNE8b07qI0TCyJ49ZtTz9yLwQUrBWRMODzkuxBvr87Bvh6UIcQMqMtKDWNSrgv471n2ZXziuE~FRPa96j7TAA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    width: 254px;
    height: 229px;
    background-size: cover;
    border-radius: 18px;
    margin: auto 10px auto auto;
}

.p_career {
    margin-left: 18px;
}

.p_career ul li {
    list-style-type: none;
    font-size: 9px;
    margin-top: 13px;
    color: #B8C5D0;

}

.p_career ul p {
    font-size: 14px;
    color: #79838B;
}

.status_cont_2{
    height: 32px;
    width: 194px;
    display: flex;
    background-color: white;
    border-radius: 18px;
    margin: 20px 20px 0 20px;
    align-items: center;
    
}

.section_status_2{
    display: flex;
    border-radius: 18px;
    height: 22px;
    width: 62px;
    align-items: center;
    justify-content: center;
    background-color: #4BC9FE;
}

.section_status_2 p{
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}


.status_cont_2 .section_status_2:first-child{
    margin-left: 10px;
    background-color: white;
    border-radius: 18px;
    
}

.status_cont_2 .section_status_2:first-child p{
    color: #4BC9FE;
}

.status_cont_2 .section_status_2:last-child{
    margin-right: 10px;
    background-color: white;
}

.status_cont_2 .section_status_2:last-child p{
    color: #4BC9FE;
}

.box_cont {
    display: flex;
    flex-wrap: wrap ;
    height: 388px;
    width: 376px;
}

.sub_cont {
    height: 183px;
    width: 158px;
    background-color: white;
    margin-left: 21px;
    margin-top: 20px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub h1{
    font-size: 58px;
    text-align: center;
    color: #79838B;
}

.sub p{
    height: 16px;
    width: 108px;
    font-size: 18px;
    text-align: center;
    color: #79838B;
}

.sub h2{
    font-size: 47px;
    color: #79838B;
    text-align: center;
}

.ti-help-alt{
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 5;
    font-size: 40px;
    color: white;
    background-color: #666;
    border-radius: 20px;
}

